<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template_ChefDepartement">
<head>
    <meta charset="UTF-8">
    <title>Liste des Maquettes</title>
</head>
<body>

<div layout:fragment="custom-content" class="container">
    <br/>
    <h3 style="text-align: center">Maquette de la classe: </h3>
    <div style="text-align: center; margin-bottom: 20px;">
        <div th:each="classe : ${classe}">
            <span th:text="${classe.nom}"></span>
        </div>

        <div class="row" style="padding-bottom: 10px; padding-top: 10px">
            <div style="text-align: center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#form_Ajouter_Maquette">Ajouter Maquette</button>
            </div>
        </div>

        <!-- Début popup ajouter un Classe -->
        <div class="modal fade" id="form_Ajouter_Maquette">
            <div class="modal-dialog">
                <div class="modal-content panel-success">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title" style="text-align: center">Ajouter une Maquette</h4>
                    </div>
                    <!-- Le formulaire inclut th:action pour générer dynamiquement l'URL -->
                    <form th:action="@{/ChefDepartement/ajouterMaquette}" method="post">
                        <div class="modal-body">
                            <!-- Champ affichant l'ID de la classe (lecture seule) -->
                            <div class="form-group">
                                <label>ID de la Classe</label>
                                <input type="text" class="form-control" name="classe" th:value="${classe.id}" readonly/>
                            </div>

                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" class="form-control" name="nom" required/>
                            </div>
                            <div class="form-group">
                                <label>Semestre</label>
                                <input type="text" class="form-control" name="semestre" required/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Ajouter</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Fin popup ajouter une Classe -->



        <!-- Début tableau lister les Classes -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="table_Classe">
                <thead>
                <tr>
                    <th>UE</th>
                    <th>Credits</th>
                    <th>CoefUE</th>
                    <th rowspan="2">Intitule</th>
                    <th>CM</th>
                    <th>TD</th>
                    <th>TP</th>
                    <th>CM+TD/TP</th>
                    <th>TPE</th>
                    <th>VHT totalt</th>
                    <th>Coef</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="maquette : ${maquettes}">
                    <td th:text="${maquette.UEs.nom}"></td>
                    <td th:text="${maquette.UEs.credits}"></td>
                    <td th:text="${maquette.CM}"></td>
                    <td th:text="${maquette.TD}"></td>
                    <td th:text="${maquette.TP}"></td>
                    <td th:text="${maquette.TOTAL}"></td>
                    <td th:text="${maquette.TPE}"></td>
                    <td th:text="${maquette.VHT}"></td>
                    <td th:text="${maquette.coeff}"></td>
                    <td>
                        <button class="btn btn-info btn-sm" data-toggle="modal" th:attr="data-target='#form_Modifier_Classe'+${classe.id}">Modifier</button>
                        <button th:if="${classe.isArchive()} == false" class="btn btn-warning btn-xs" data-toggle="modal" th:attr="data-target='#form_Archiver_Classe'+${classe.id}">
                            Archiver
                        </button>
                        <button th:if="${classe.isArchive()} == true" class="btn btn-primary btn-xs" data-toggle="modal" th:attr="data-target='#form_Archiver_Classe'+${classe.id}">
                            Desarchiver
                        </button>
                    </td>

                    <!-- Debut popup modifier un Classe -->
                    <div data-dismiss="modal">
                        <div class="modal fade" th:attr="id='form_Modifier_Classe'+${classe.id}" >
                            <div class="modal-dialog" >
                                <div class="modal-content panel-info" >
                                    <!--modal Header-->
                                    <div class="modal-header panel-heading" >
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <h4 class="modal-title" style="text-align: center">Modifier Classe</h4>
                                    </div>
                                    <!--modal Body-->
                                    <form th:action="@{/ChefDepartement/modifierClasse}" method="post">
                                        <div class="modal-body" >
                                            <div style="display: none">
                                                <input name="id" th:value="${classe.id}" />
                                            </div>
                                            <div class="form-group">
                                                <label>ID de la Foramtion</label>
                                                <input type="text" class="form-control" name="formation" th:value="${formation.id}" readonly/>
                                            </div>
                                            <div class="form-group">
                                                <label >Nom</label>
                                                <input type="text" class="form-control" name="nom" th:value="${classe.nom}"/>
                                            </div>
                                            <div class="form-group">
                                                <label >Semestre</label>
                                                <input type="text" class="form-control" name="semestre" th:value="${classe.semestre}"/>
                                            </div>
                                        </div>
                                        <!--modal Footer-->
                                        <div class="modal-footer" >
                                            <div class="row">
                                                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-4">
                                                    <button type="submit" class="btn btn-info" >Modifier</button>
                                                </div>
                                                <div class="col-lg-offset-5 col-lg-3 col-md-offset-5 col-md-3 col-sm-offset-5 col-sm-3 col-xs-8">
                                                    <button type="button" class="btn btn-default " data-dismiss="modal">Annuler</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin popup modifier une Classe -->

                    <!-- Debut popup Archiver un Classe -->
                    <div data-dismiss="modal">
                        <div class="modal fade" th:attr="id='form_Archiver_Classe'+${classe.id}">
                            <div class="modal-dialog" >

                                <div th:if="${classe.isArchive()} == false" class="modal-content panel-warning" >
                                    <!--modal Header-->
                                    <div class="modal-header panel-heading" >
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <h4 class="modal-title" style="text-align: center">Archiver Classe</h4>
                                    </div>
                                    <!--modal Body-->
                                    <form th:action="@{/ChefDepartement/archiverClasse}" method="post">
                                        <div class="modal-body" >
                                            <div style="display: none">
                                                <input name="id" th:value="${classe.id}" />
                                            </div>
                                            <div class="form-group">
                                                <label>ID de la Formation</label>
                                                <input type="text" class="form-control" name="formation" th:value="${formation.id}" readonly/>
                                            </div>
                                            <div class="form-group">
                                                <label >Nom</label> :
                                                <span th:text="${classe.nom}"/> </span>
                                            </div>
                                            <div class="form-group">
                                                <label >Semestre</label> :
                                                <span th:text="${classe.semestre}"/> </span>
                                            </div>
                                        </div>
                                        <!--modal Footer-->
                                        <div class="modal-footer" >
                                            <div class="row">
                                                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-4">
                                                    <button type="submit" class="btn btn-warning">Archiver</button>
                                                </div>
                                                <div class="col-lg-offset-5 col-lg-3 col-md-offset-5 col-md-3 col-sm-offset-5 col-sm-3 col-xs-8">
                                                    <button type="button" class="btn btn-default " data-dismiss="modal">Annuler</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div th:if="${classe.isArchive()} == true" class="modal-content panel-primary" >
                                    <!--modal Header-->
                                    <div class="modal-header panel-heading" >
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <h4 class="modal-title" style="text-align: center">Desarchiver Classe</h4>
                                    </div>
                                    <!--modal Body-->
                                    <form th:action="@{/ChefDepartement/archiverClasse}" method="post">
                                        <div class="modal-body" >
                                            <div style="display: none">
                                                <input name="id" th:value="${classe.id}" />
                                            </div>
                                            <div class="form-group">
                                                <label>ID de la formation</label>
                                                <input type="text" class="form-control" name="formation" th:value="${formation.id}" readonly/>
                                            </div>
                                            <div class="form-group">
                                                <label >Nom</label> :
                                                <span th:text="${classe.nom}"/> </span>
                                            </div>
                                            <div class="form-group">
                                                <label >Semestre</label> :
                                                <span th:text="${classe.semestre}"/> </span>
                                            </div>
                                        </div>
                                        <!--modal Footer-->
                                        <div class="modal-footer" >
                                            <div class="row">
                                                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-4">
                                                    <button type="submit" class="btn btn-primary">desarchiver</button>
                                                </div>
                                                <div class="col-lg-offset-5 col-lg-3 col-md-offset-5 col-md-3 col-sm-offset-5 col-sm-3 col-xs-8">
                                                    <button type="button" class="btn btn-default " data-dismiss="modal">Annuler</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Fin popup Archiver une Classe -->
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Fin lister tout les Classes -->

        <!-- Debut Datatable lister Classes -->
        <script>
            $(document).ready(function() {
                $("#table_Classe").DataTable({

                });
            })
        </script>
        <!-- Fin Datatable lister Classes -->

    </div>




</div>



</div>





</body>
</html>