<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link  rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link  rel="stylesheet" href="../static/css/buttons.dataTables.min.css" th:href="@{/css/buttons.dataTables.min.css}"/>
    <link  rel="stylesheet" href="../static/css/jquery.dataTables.min.css" th:href="@{/css/jquery.dataTables.min.css}"/>

    <script src="../static/js/jquery-3.7.0.js" th:src="@{/js/jquery-3.7.0.js}"></script>
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../static/js/dataTables.buttons.min.js" th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script src="../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>

    <title>Title</title>
</head>
<body>

<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a><span>Accueil</span></a>
                    </li>
                    <li>
                        <a th:href="@{/ChefDepartement/ajouterseance}"><span>Emploi du Temps</span></a>
                    </li>
                    <li>
                        <a th:href="@{/ChefDepartement/Emploidutemps}"><span>Batiment</span></a>
                    </li>
                    <li>
                        <a th:href="@{/ChefDepartement/Repartition}"><span>Repartition</span></a>
                    </li>
                    <li>
                        <a th:href="@{/ChefDepartement/Enseignant}"><span>Enseignants</span></a>
                    </li>
                    <li>
                        <a th:href="@{/ChefDepartement/Maquette}"><span>Syllabus</span></a>
                    </li>
                    <li>
                        <a th:href="@{/ChefDepartement/Formation}"><span>Formation</span></a>
                    </li>
                    <li>
                        <a th:href="@{/ChefDepartement/Validation}"><span>Gestion Choix</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="${prenom+'. '+nom}"></span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/profil}"><span>Profil</span></a>
                            </li>
                            <li><a th:href="@{/logout}"><span>Deconnexion</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

<div layout:fragment="custom-content">



</div>


</body>
</html>